################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/test2/calculator/.vs/calculator
/test2/calculator/calculator/bin/Debug/netcoreapp3.1
/test2/calculator/calculator/obj
